/* Desktop Style */
body{
    background-color: rgb(219, 213, 188);
    color: rgb(14, 14, 14);
    font-family: 'Lugrasimo', cursive;
    margin: 0;
}
p{
    line-height: 3;
}
section{
    padding: 20px;
}
#about{
    text-align: center;
    background-color: rgb(255, 255, 255);
    line-height: 2.0;
}
#experience{
   background-color: rgb(154, 201, 207);
}
#connect{
    background-color: rgb(154, 201, 207);
}
#skills{
    background-color: rgb(255, 255, 255);
}
#projects{
    background-color: rgb(170, 198, 179);
}
#profile{
    display: flex;
    flex-direction: column;
    background-color: rgb(170, 198, 179);
    color: rgb(101, 120, 96);
    padding : 50px;
    text-align: center;
    
}
#outerContainer{
    width: 80%; 
    max-width: 1200px; 
    margin: 0 auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd; 
}

#experience li{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(184, 217, 224);
    padding : 30px;
    margin: 0 20px; 
}

.skillList{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.skillList li{
    padding: 10px;
}
h1 {
    font-size: 2rem;          
    font-weight: 100;          
    color: rgb(47, 108, 128);  
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(47, 108, 128);
    margin-bottom: 15px;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
 
    justify-content: space-around;
    list-style: none;
}
nav{
    position: sticky;
    top: 60px;
    background-color:#2c3e50;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 5px;
   
}
.navlist{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#columns {
    display: flex;       
    gap: 20px;   
}

.column {
     flex: 1;             
    background-color: #f7f9fb;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

.column > h4 {
    font-weight: bold;
    color: rgb(58, 96, 126);
    margin-bottom: 10px;
}
.social-link{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 10px;
}
.icon {
    width: 60px; 
    height: 60px;
}

/*Tablet Style */

@media(max-width: 760px){
   h1{
        font-size: 1.8rem;          
        font-weight: 400;  
        color: #2c3e50;        
        
   }
   p{
        font-size: small;
        line-height: 2.5;
   }
   nav{
        background-color: rgb(83, 110, 83);
   }
   .skillList li{
        padding: 40px;
        margin: 20px;
        background-color: #93acaa;
   }
}
/* Mobile style*/
@media(max-width: 480px){
   h1{
        font-size: 1.2rem;          
        font-weight: 200;  
        color: #285229;        
        
   }
   h2{
    font-size: 1.2rem;
   }
   p{
        font-size:x-small;
        line-height: 2.5;
   }
   nav{
        background-color:#1b6f68;
   }
   .skillList li{
        padding: 15px;
        margin: 20px;
        background-color: rgb(167, 143, 165);
   }
}