/* Desktop Style */
body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}
h1{
    font-size: large;
}
#profile{
    margin:0;
    padding: 0;
}
/* Nav bar */
.nav-menu{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 5px;
    text-align: center;
    justify-content: space-around;
    list-style: none;
}
nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;        
    width: 100%;
    background-color: rgba(0, 0, 0, 0.94);
    color:white;
   
}
.navlist{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
    
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 8px;   
}

#logo {
  width: 40px;
  height: 40px;
}
section{
    padding: 20px;
}
h2{
    font-size: 1.2rem;
    font-weight: 500;
    color: gray;
    margin-bottom: 15px;
}
/*About Section*/
#about{
    text-align: center;
    background-color:  rgb(255, 255, 255);
    line-height: 2.0;
}
#aboutMe{
    background-color: rgb(255, 255, 255);
    font-size: 1rem;
    line-height: 2.8;
}
#profileContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:140px;
    text-align: left;
    border-bottom: 2px solid #E5E7EB;
    padding: 160px 5%;

}
#profileInfo>h4{
    color: black;
    font-size: 32px;
    margin:0;
    font-weight: 600;
}
#profileTitle{
    font-size: 22px;
    margin:0;
    color: gray;
    font-weight: 400;
}
#profileDesc{
    font-size: 16px;
    color: gray;
   
}
.profileImg{
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border-radius: 16px;
}
.aboutMeContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
}
.aboutMeLeftContainer{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutMeRightContainer{
    flex:1;
    text-align: left;
    padding: 20px;
    display: grid;
  grid-template-areas:
    "top top"
    "left right";
}
.aboutMeColumnTop{
    grid-area: top;
   
}
#aboutMeLeft{
    grid-area: left;
    background:linear-gradient(135deg, 
    #ffffff 20%, 
    #edeeef 55%, 
    #aac6d7 100%
  );
}
#aboutMeRight{
    grid-area: right;
    background:linear-gradient(135deg, 
    #ffffff 20%, 
    #f0f8ef 55%, 
    #a6c5a4 100%
  );
}
.aboutMeInfo{
    border-radius:5px ;
    padding: 20px;
    margin: 20px;
    box-shadow: 5px 5px 10px gray;
     background:linear-gradient(135deg, 
    #ffffff 20%, 
    #fafaf1 55%, 
    #d6db9d 100%
  );
}
.aboutImg{
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
}

#experience,#projects{
   background-color: #e9eff0;
   padding: 50px;
}
#connect,#skills{
    background-color: rgb(255, 255, 255);
}
#message{
    background-color: #c8dade;
}
#contactButton{
    background-color:  #000000;
    color: #ffffff;
    border: 1px  #000000 solid;
    padding: 20px;
    font-size: medium;
    border-radius: 10px;
    box-shadow:5px 5px 10px #000000;
    margin-top: 40px;

}
/*Skill Section*/
.skillsList{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}
.skillsList li{
    padding: 10px;
    color: white;
    border: 1px #1F2937 solid;
    background-color:#1F2937;
    border-radius: 5px;
   
    text-align: center;
    
}
/*Experience Section*/
#columns {
    font-size: small;
    display: flex;       
    gap: 20px;   
}

.column {
    flex: 1;             
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 5px 5px 10px gray;
    line-height: 2.8;

}

.column > h4 {
    font-weight: bold;
    color: rgb(58, 96, 126);
    margin-bottom: 10px;
}
/*connect section*/
.social-link{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 10px;
}
.icon {
    width: 60px; 
    height: 60px;
}
/*Project Section*/
#projects>ul{
    font-size: small;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#project-li:nth-child(odd) {
    background-color: #bdd0c1;
}

#project-li:nth-child(even) {
    background-color: #bccad2;
}
#project-li{
    list-style: none;    
     
    background-color:#ffffff;
    border-radius: 8px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    box-shadow: 5px 5px 10px gray;
    line-height: 2.8;
}
/*Message Section*/
.messageInput{
     width: 40%;
    border-radius: 2px;
    border: none;
    padding: 15px;
    margin-bottom: 50px;
}
#messageSubmitButton {
    background-color: #576f59;
    color: white;
    width: 30%;
    
    
}
#messageTextArea{
    height: 100px;
}
#removeButton{
    background-color: #a56161;
    color: white;
   width:100px;
    border-radius: 4px;
    border: none;
    padding: 10px;
    margin-right: 20px;
}
#editButton{
    background-color: #658768;
    color: white;
   width:100px;
    border-radius: 4px;
    border: none;
    padding: 10px;
}
#userNameList{
    
    list-style: none;
   
    
}
#user-link{
    font-weight: bold;
    font-size: large;
    margin-bottom: 20px;
  color: #30537e;
  text-decoration: none;
}

/*Tablet Style */

@media only screen and (max-width: 768px){
.nav-menu{
    display: block;
   
    padding: 5px;
    text-align: center;
    justify-content: space-around;
    list-style: none;
}
nav{
    background-color: blue;
}

.nav-menu{
    text-align: left;
}
.navlist{
    font-size: 1.5rem;
}

    h1{
        font-size: 2rem;
    }
   h2{
        font-size: 1.5rem;         
        font-weight: 400;  
        color: #2c3e50;        
        
   }
   p{
        font-size: x-small;
        line-height: 2.5;
   }
   nav{
        background-color: rgb(80, 94, 131);
   }
   #logo{
        width: 40px;
        height: 40px;
   }
   #projects>ul{
    font-size: small;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    }
   .skillsList li{
        padding: 40px;
        margin: 20px;
        background-color: #93acaa;
   }
    .skillsList{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
   a{
    font-size: xx-small;
   }
   #about{
    margin-top: 40px;
   }
 
}
/* Mobile style*/
@media(max-width: 480px){
   h1{
        font-size: 1.2rem;          
        font-weight: 700;  
        color: #090909;        
        
   }
   .navlist{
    font-size: 1rem;
   }
   h2{
    font-size: 1.2rem;
   }
   #about
   {
    margin-top: 300px;
   }
   
   p{
        font-size:x-small;
        line-height: 2.5;
   }
   .nav-left{
        background-color:#5d7765;
   }
   nav{
    display: block;
    background-color: white;
   }
   .nav-menu{
    display: block;
    text-align: left;
    
   }
   .navlist{
     display:block;
    color: rgb(0, 0, 0);
   margin-top:20px;
   }
   .navlist:hover{
        background-color: grey;
    }
    #contactButton{
        background-color: rgb(180, 187, 200);
        border:none;
       
        
    }
    .skillsList{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
   .skillsList li{
        padding: 15px;
        margin: 20px;
        background-color: rgb(167, 143, 165);
   }

  #profileContent{
    flex-direction: column;
    text-align: center;
  }

  .profileImg{
    margin-top: 20px;
    width: 200px;
  }


}